<div class="devices-container">
  {{#if filters}}
    <div class="filters">
      <h3>Filters <a href='#' class='js-clear-filter'>clear</a></h3>
      <ul>
        {{#each filters}}
        <li>{{@key}} contains '{{.}}'</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
  {{#each devices}}
    <div class="device">
      <div class="image"><img src="images/fpo-device.png"/></div>
        <div class="device-info">
          <h3 class="title">{{name}}</h3>
          <h4 class="os">{{os}} {{version}}</h4>
          <div class="extra-info">
            <h4 class="location">{{location}}</h4>
            <h4 class="formfactor">{{formfactor}}</h4>
            <h4 class="serial">{{serial}}</h4>
            <h4 class="checkedin">{{#if isCheckedOut}}Checked out to {{checkedOutTo}}{{else}}Checked in{{/if}}</h4>
          </div>
        </div>
    </div>
  {{/each}}
</div>
