<table width="100%">
  <tbody>
  {{#each .}}
    <tr>
      <td colspan="3">{{name}}</td>
    </tr>
    <tr>
      <td>{{location}}</td>
      <td>{{os}}</td>
      <td>{{version}}</td>
    </tr>
    <tr>
      <td colspan="3">
        Comments
      </td>
    </tr>
    {{#each comments}}
      <tr>
        <td colspan="2">{{author}}</td>
        <td>{{date}}</td>
      </tr>
      <tr>
        <td colspan="3">{{body}}</td>
      </tr>
    {{/each}}
    <tr>
      <td colspan="3"><hr/></td>
    </tr>
  {{/each}}
  </tbody>
<table>
