<div class="devices-container grid checkin">
  <div class="image">
    <span class="icon-stack">
      <i class="icon-alt-{{formfactor}} icon-stack-device"></i>
      <i class="icon-alt-{{os}} icon-stack-os"></i>
    </span>
  </div>
  <div class="device-info">
    {{#or editing moving}}
      {{#if editing}}
        <label>OS:</label>
        <div class='js-os-container os-container'></div>
        <input type="text" class="version" placeholder="Version" value="{{version}}"/>
        <input type="text" class="name" placeholder="Name" value="{{name}}"/>
        <input type="text" class="serial" placeholder="Serial" value="{{serial}}"/>
        <label>Form Factor:</label>
        <div class='js-formfactor-container formfactor-container'></div>
        <div>
          <a href="#" class="device-save save">Save</a>
          <a href="#" class="device-error cancel">Cancel</a>
        </div>
        {{else}} {{#if moving}}
          <label>Where would you like to send this device?</label>
          <div class='js-location-container location-container'></div>
          <div>
            <a href="#" class="device-move saveMove">Move</a>
            <a href="#" class="device-error cancel">Cancel</a>
          </div>
      {{/if}}{{/if}}
    {{else}}
      <p>{{os}} {{version}}</p>
      <h5>{{name}} <i class="icon-poo edit"></i></h5>
      <p>Serial: {{serial}}</p>
      <p>Location: {{location}} <i class="icon-truck move"></i></p>
      <p>Form Factor: {{formfactor}}</p>

      <div class="device-actions">
        {{#if isCheckedOut}}
          <a href="#" class="check-in"><i class="icon-check-in"></i>CHECK IN</a>
        {{else}}
          <a href="#" class="check-out"><i class="icon-check-out"></i>CHECK OUT</a>
        {{/if}}
      </div>
    {{/or}}
  </div>

  {{!--
  <div class="comment-form">
    <textarea class="comment-text"></textarea>
    <input type="text" class="author" placeholder="author"/><a href="#" class="comment">Add comment</a>
  </div>
  --}}

  <div class="comments">

      <h2>Comments <small class='right'>+</small></h2>
      <section>
        {{#each comments}}
          <div class="{{type}}">
            <p>{{body}}</p>
            <p>{{timeago date}} by '{{author}}'</p>
            <hr/>
          </div>
        {{/each}}
      </section>
  </div>
</div>
